@{
    ViewData["Title"] = "Home Page";
    Layout = null; // Esto desactiva el uso del _layout.cshtml
}
@model LoginUserViewModel
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Weddingplaner.styles.css" asp-append-version="true" />
  <title>Document</title>
</head>
<body>
  
<div class="container">
  <div class="row">
    <div class="col">
     <h1>Add a User</h1>
@await Html.PartialAsync("_Registrationform", Model.Usuario)
    </div>
    <div class="col">
   
    </div>
    <div class="col">
  @await Html.PartialAsync("_Loginform", Model.LoginUser)
    </div>
  </div>
</div>

</body>
</html>

